extends ../../layout/index

block scriptExtension
    script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js' type="text/javascript")
    script(src='/assets/js/scripts/calls/product.js')

block styleExtension
    link(rel='stylesheet', type='text/css', href='/app-assets/css/plugins/forms/validation/form-validation.css')

block pageHeader
    .content-header-left.col-md-6.col-12.mb-2
        h3.content-header-title.mb-0 #{title}
        .row.breadcrumbs-top
            .breadcrumb-wrapper.col-12
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/') Home
                    li.breadcrumb-item.active
                        | #{title}

block pageContent
    .row
        .col-md-12
            include ../../layout/components/flash
            .card
                .card-header
                    h4.card-title #{title}
                form#form_product_create.form(action="/products/edit?id=" + foundProduct.id method="POST")
                    .card-content
                        .card-body
                            h4.form-section
                                i.ft-clipboard
                                |  Informazioni Prodotto
                            .row
                                .col-md-12
                                    .form-group
                                        label(for='product-name') Nome
                                        input#product-name.form-control(type='text' name="name" value=foundProduct.name)
                            .row
                                .col-md-12
                                    .form-group
                                        label(for='product-price') Prezzo
                                        input#product-price.form-control(type='text' name="price" value=foundProduct.price)
                            .row
                                .col-md-12
                                    .form-group
                                        label(for='product-schools') Scuola
                                        select#product-schools.form-control(name="schools[]" multiple='multiple' data-toggle='tooltip', data-trigger='hover', data-placement='top', data-title='Campo opzionale', data-original-title='')
                                                option(disabled) Seleziona una scuola
                                                each school in foundSchools
                                                        option(value=school.id selected = (productSchools.some(productSchool => productSchool.id == school.id) ? true : false)) #{school.name + ', ' + school.city}
                        .form-actions.center
                            button.btn.btn-blue.mr-1(type='submit')
                                |  Conferma

